body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  color: #434455;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0;
}

.gallery {
  padding-top: 3%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  max-width: 1176px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.gallery-item {
  width: 360px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.gallery-item:hover {
  transform: scale(1.0474);
  z-index: 1;
}
